@{
    ViewData["Title"] = "Home Page";
}

<style>
    a {
        padding: 5px;
        margin: 5px;
        color: white;
    }

</style>

<div>
    <h1>Welcome to home page</h1>
</div>

@section Scripts {
    @(await Component.InvokeAsync("SocialLinks"))
}