<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <a class="navbar-brand" href="#">Bloging</a>

                <div class="ml-auto collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="text-dark nav-link active" href="/Home/Index">HOME<span class="sr-only">(current)</span></a>
                        <a class="text-dark nav-link" href="/BlogPost/AllBlogPosts">BLOGS</a>
                        <a class="text-dark nav-link" href="#">PROFILE</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>